<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto - KÖRE Streetwear</title>
    <link rel="shortcut icon" href="../assest/icon/KORE_logo_blanconegro_definitivo.webp" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contacto.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<!--EL CONTENIDO DE LA PÁGINA-->

<body>
    <!------------CABECERA Y NAVEGACIÓN-------->
    <header>

        <!-- INPUT OCULTO QUE CONTROLA EL MENÚ -->
        <input type="checkbox" id="menu-tienda" class="menu-tienda" />

        <!-- ICONO DE MENÚ COMO LABEL -->
        <label for="menu-tienda" class="material-symbols-outlined menu-icon">menu_open</label>

        <!-- MENÚ LATERAL -->
        <nav id="sideNav">
        <ul>
          <li>
            <a href="../index.html"
              ><img
                src="../assest/icon/KORE_logo_definitivo.webp"
                alt="logo de la tienda"
            /></a>
          </li>
          <li><a href="nosotros.html" class="enlace">Nosotros</a></li>
          <li><a href="tienda.html" class="enlace">Tienda</a></li>
          <li><a href="contacto.html" class="enlace">Contacto</a></li>
          <li id="menuUsuarios"><a href="usuarios.html" class="enlace">Usuarios</a></li>
          <li><a href="carrito.html" class="enlace">Carrito</a></li>
          <li class="user-info"><a href="perfil.html" class="enlace"><span id="nombreUsuario"></span></a></li>
                <li class="boton_logout"><button id="logout"><img
                src="../assest/icon/apagar.webp"
                alt="logo de logout "
            /></button></li>
        </ul>
      </nav>

        <div class="header-content">
            <h1>KÖRE Streetwear</h1>
        </div>
    </header>

    <!------------CONTENIDO PRINCIPAL-------->
    <main>
        <section>
            <h2>Contacto</h2>
            <p>¿Tienes alguna duda o quieres saber más de nuestros productos? Escríbenos:</p>

            <form action="KÖREStreetwear@gmail.com" method="post" enctype="text/plain">
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre" required>
                <br>
                <label for="email">Correo electrónico:</label>
                <br>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="mensaje">Mensaje:</label><br>
                <textarea id="mensaje" name="mensaje"></textarea>
                <br>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </form>
        </section>
    </main>

    <!------------CONTENIDO ADICIONAL-------->
    <aside>
        <p>TAmbien nos puedes encontrar en: </p>
        <img src="../assest/image/facebook_logo.webp" alt="logo de facebook" height="50" width="50">
        <img src="../assest/image/Instagram_logo.webp" alt="logo de instagram" height="50" width="50">
        <img src="../assest/image/Twitter-Emblem.webp" alt="logo de twiter" height="50" width="90">
    </aside>
    <!------------PIE DE PÁGINA-------->
    <footer>
        <p>2025 &copy; Aitor Perez</p>
    </footer>
</body>
    <script src="../js/auth.js"></script>
    <script src="../js/me.js">
    </script> <script src="../js/user-info.js">
    </script> <script src="../js/logout.js"></script>
</html>